<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1 class="nickname">{{ nickname }}</h1>
    <h2>방</h2>
    <div class="main">
        <input type="text" class="roomTitleValue" placeholder="방 이름">
        <button class="roomJoinBtn">입장</button>
    </div>
    <div class="videoWrapper">
        <div class="videoParent">
        </div>
        <div>
            <video class="localVideo" autoplay playsinline></video>
            <button class="sound">음소거 켜기</button>
            <button class="video">비디오 끄기</button>
        </div>
        <video class="targetVideo" autoplay playsinline></video>
    </div>
    <div class="wrapper">
        <div class="display-container">
            <ul class="chatting-list">
            </ul>
        </div>
        <div class="input-container">
            <input type="text" class="chattingInput" placeholder="채팅">
            <button class="send">전송</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const socket = io.connect("http://localhost:2000", {
            path: "/socket.io",
            transports: ["websocket"],
        });
        const $nickname = document.querySelector(".nickname");
        const $chattingInput = document.querySelector(".chattingInput");
        const $sendBtn = document.querySelector(".send");
        const $roomTitle = document.querySelector("h2");
        const $roomTitleValue = document.querySelector(".roomTitleValue");
        const $videoWrapper = document.querySelector(".videoWrapper");
        const $localVideo = document.querySelector(".localVideo");
        const $soundBtn = document.querySelector(".sound");
        const $videoBtn = document.querySelector(".video");
        const $roomJoinBtn = document.querySelector(".roomJoinBtn");
        const $targetVideo = document.querySelector(".targetVideo");
        const $chatList = document.querySelector(".chatting-list");

        const nickname = $nickname.textContent;
        const userVideoDevice = "videoinput";
        const userMediaConfig = {
            video: {
                width: 100,
                height: 100,
            },
            audio: true,
        };

        let localStream = null;
        let soundStatus = false;
        let videoStatus = false;
        let peerRoomId = null;
        let localPeerConnection = null;

        $videoWrapper.style.display = "none";

        // 오디오 컨트롤
        function soundController() {
            localStream
                .getAudioTracks()
                .forEach(track => (track.enabled = !track.enabled));

            if (!soundStatus) {
                soundStatus = true;
                return $soundBtn.textContent = "음소거 끄기";
            }

            soundStatus = false;
            $soundBtn.textContent = "음소거 켜기";
        }
        
        // 비디오 컨트롤
        function videoController() {
            localStream
                .getVideoTracks()
                .forEach(track => (track.enabled = !track.enabled));

            if (!videoStatus) {
                videoStatus = true;
                return $videoBtn.textContent = "비디오 켜기";
            }

            videoStatus = false;
            $videoBtn.textContent = "비디오 끄기";
        }
        
        // 초기화
        (async function init() {
            // 사용자 스트림 생성
            localStream = await navigator.mediaDevices.getUserMedia(userMediaConfig);
            $localVideo.srcObject = localStream;

            $roomTitle.textContent = `방 ${$roomTitleValue.value}`;
            $videoWrapper.style.display = "block";
            
            localPeerConnection = new RTCPeerConnection({
                
            });
            localPeerConnection.addEventListener("icecandidate", iceHandler);
            localPeerConnection.addEventListener("addstream", streamHandler);

            localStream
                .getTracks()
                .forEach(track => localPeerConnection.addTrack(track, localStream));
        })();

        // 방 입장
        async function roomJoin() {
            peerRoomId = $roomTitleValue.value;
            $roomTitle.textContent = `방 ${peerRoomId}`;

            socket.emit("peerRoom", peerRoomId);
        }

        // 피어 A
        socket.on("peerRoomJoin", async data => {
            const offer = await localPeerConnection.createOffer();

            localPeerConnection.setLocalDescription(offer);

            socket.emit("offer", {
                offer,
                roomTitle: $roomTitleValue.value,
            });
        });

        // 피어 B
        socket.on("offer", async data => {
            // A가준 offer
            localPeerConnection.setRemoteDescription(data);

            const answer = await localPeerConnection.createAnswer();

            localPeerConnection.setLocalDescription(answer);

            socket.emit("answer", {
                answer,
                roomTitle: $roomTitleValue.value,
            });
        });

        // candidate 핸들러
        function iceHandler(e) {
            const { candidate } = e;

            socket.emit("ice", {
                candidate,
                roomTitle: peerRoomId,
            });
        }

        // stream 핸들러
        function streamHandler(e) {
            $localVideo.srcObject = localStream;

            $targetVideo.srcObject = e.stream;
        }
        
        socket.on("answer", async data => {
            localPeerConnection.setRemoteDescription(data);
        });

        socket.on("ice", data => {
            localPeerConnection.addIceCandidate(data);
        });

        function sendMessage() {
            const message = $chattingInput.value;

            createMessageTag("나", message);

            socket.emit("chat", {
                message,
                roomTitle: peerRoomId,
                nickname,
            });
        }

        socket.on("chat", data => {
            const { message, nickname } = data;
            createMessageTag(nickname, message);
        });

        function createMessageTag(nickname, message) {
            const li = document.createElement("li");
            li.innerText = `${nickname} - ${message}`;
            $chatList.appendChild(li);
        }

        $soundBtn.addEventListener("click", soundController);
        $videoBtn.addEventListener("click", videoController);
        $roomJoinBtn.addEventListener("click", roomJoin);
        $sendBtn.addEventListener("click", sendMessage);
    </script>
</body>
</html>