<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
    </head>
    <body>
        <div>
            <h2>닉네임 {{ nickname }}</h2>
            <button class="createRoom">방 생성</button>
        </div>
        <h3>방 목록</h3>
        {% for room in rooms %}
        <div>
            <div>
                <input type="hidden" class="roomId" value="{{ room.id }}" />
                {{ room.title }} {{ room.max }} {{ room.userId }}
                <button class="joinRoom">입장</button>
            </div>
        </div>
        {% endfor %}
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            // 방 목록 전달 주소
            const socket = io.connect("http://localhost:2000/room", {
                path: "/socket.io",
                transports: ["websocket"],
            });

            const $createRoomBtn = document.querySelector(".createRoom");
            const $joinRoomBtn = document.querySelectorAll(".joinRoom");

            $createRoomBtn.addEventListener("click", () => {
                window.location.href = "/room/create";
            });
            $joinRoomBtn.forEach((tag) => {
                tag.addEventListener("click", async () => {
                    const roomId =
                        tag.parentElement.querySelector(".roomId").value;

                    const req = await axios.get(
                        `http://localhost:2000/room/join/${roomId}`,
                    );

                    window.location.href = `/room/join/${roomId}`;
                });
            });
        </script>
    </body>
</html>
