<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
    </head>
    <body>
        <div>
            <input type="hidden" class="userId" value="{{ userId }}" />
            <input type="hidden" class="nickname" value="{{ nickname }}" />
        </div>
        <div>제목<input type="text" class="title" /></div>
        <div>비밀번호<input type="password" class="password" /></div>
        <div>인원<input type="number" class="max" /></div>
        <button class="createRoom">생성</button>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const $userId = document.querySelector(".userId");
            const $nickname = document.querySelector(".nickname");
            const $title = document.querySelector(".title");
            const $password = document.querySelector(".password");
            const $max = document.querySelector(".max");
            const $createRoomBtn = document.querySelector(".createRoom");

            $createRoomBtn.addEventListener("click", async () => {
                const {
                    data: { success, data: roomId },
                } = await axios.post("/room/create", {
                    userId: Number($userId.value),
                    title: $title.value,
                    max: Number($max.value),
                });

                if (!success) return alert("방 생성 실패");
                
                window.location.href = `/room/join/${roomId}`;
            });
        </script>
    </body>
</html>
