<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        input {
            margin-bottom: 20px;
        }
        button {
            width: 200px;
        }
    </style>
</head>
<body>
    <div>이름<input type="text" class="nickname"></div>
    <div>비번<input type="password" class="password"></div>
    <button>가입</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect("http://localhost:1000", {
            path: "/socket.io",
            transports: ["websocket"],
        });
        const $btn = document.querySelector("button");
        const $nicknameInput = document.querySelector(".nickname");
        const $passwordInput = document.querySelector(".password");

        $btn.addEventListener("click", async () => {
            console.log("실행됩니당.");
            const req = await axios.post("http://localhost:1000/user", {
                nickname: $nicknameInput.value,
                password: $passwordInput.value,
            });

            console.log(req);

            socket.emit("main", {
                message: "반갑습니당",
            });

            console.log("클라이언트 메인 이벤트 전송");
        });
    </script>
</body>
</html>